<!DOCTYPE html>
<html>
    <head>
        <title>流经岁月 </title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link rel="shortcut icon" href="/images/video-camera.png">
        <!-- Material Design fonts -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

    </head>

    <body>

        <div class="container-fluid">
          <div class="row">
            <%= render "common/navbar" %>
            </div>
            <%= render "common/flashes" %>
            <%= yield %>
            <div class="row">
              <%= render "common/footer" %>

            </div>
        </div>



        </body>
</html>
